@model HomeRentalFrontEnd.Models.UserLoginModel

<div class="body-signup-in" align="center">
    <div id="form-container-login">
        <h3>Login</h3>
        <form id="form-login" asp-controller="Users" asp-action="UserLogin">
            <div id="form-group-login radio-group-login">
                <label for="RoleID">Role:</label>
                <label>
                    <input type="radio" asp-for="RoleID" value="1"> Admin
                </label>
                <label>
                    <input type="radio" asp-for="RoleID" value="2" checked> User
                </label>
            </div>
            <div id="form-group-login">
                <label for="username">Email</label>
                <input type="text" asp-for="UserName" id="email" placeholder="Enter your email" required>
            </div>
            <div id="form-group-login">
                <label for="password">Password</label>
                <input type="password" asp-for="Password" id="password" placeholder="Enter your password" required>
            </div>
            <button type="submit">Login</button>
        </form>
        <div class="switch-link">
            <p>Don't have an account? <a asp-controller="Home" asp-action="Signup">Sign Up</a></p>
        </div>
    </div>
</div>
