@{
    Layout = "~/Views/Shared/_Layout_Admin.cshtml";
}
 @model UsersModel
<div class="content-body">

    <div class="row page-titles mx-0">
        <div class="col p-md-0">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Admin" asp-action="Index">Dashboard</a></li>
                <li class="breadcrumb-item active"><a asp-controller="Users" asp-action="UsersAddEdit">User Add/Edit</a></li>
            </ol>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-12">
                <div class="card">
                    <div class="card-body">
                        <div class="form-validation">
                            <form class="form-valide"  asp-action="Save">
                                <input type="hidden" asp-for="UserID" />

                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="FirstName">
                                        First Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  asp-for="FirstName" placeholder="Enter a first name..">
                                        <span class="text-danger" asp-validation-for="FirstName"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="LastName">
                                        Last Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  asp-for="LastName" placeholder="Enter a last name..">
                                        <span class="text-danger" asp-validation-for="LastName"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="UserName">
                                        User Name <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  asp-for="UserName" placeholder="Enter a user name..">
                                        <span class="text-danger" asp-validation-for="UserName"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="Email">
                                        Email <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  asp-for="Email" placeholder="Your valid email..">
                                        <span class="text-danger" asp-validation-for="Email"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="Password">
                                        Password <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="password" class="form-control"  asp-for="Password" placeholder="Choose a safe one..">
                                        <span class="text-danger" asp-validation-for="Password"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="ProfilePictureURL">
                                        Profile Picture URL <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <input type="text" class="form-control"  asp-for="ProfilePictureURL" placeholder="Enter profile picture URL..">
                                        <span class="text-danger" asp-validation-for="ProfilePictureURL"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label class="col-lg-4 col-form-label" asp-for="RoleID">
                                        Role <span class="text-danger">*</span>
                                    </label>
                                    <div class="col-lg-6">
                                        <label class="radio-inline mr-3">
                                            <input type="radio" asp-for="RoleID" value="1"> Admin
                                        </label>
                                        <label class="radio-inline mr-3">
                                            <input type="radio" asp-for="RoleID" value="2" checked> User
                                        </label>
                                        <span class="text-danger" asp-validation-for="RoleID"></span>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <div class="col-lg-8 ml-auto">
                                        <button type="submit" class="btn btn-primary">Submit</button>
                                        <a asp-controller="Users" asp-action="UsersList" class="btn btn-secondary">Cancel</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>