<div class="body-signup-in" align="center">
    <div class="form-container">
        <h3>Sign Up</h3>
        <form>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="firstname">Firstname</label>
                        <input type="text" id="firstname" placeholder="Enter your firstname">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="lastname">Lastname</label>
                        <input type="text" id="lastname" placeholder="Enter your lastname">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" id="username" placeholder="Enter your username">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" id="email" placeholder="Enter your email">
                    </div>
                </td>
            </tr>
            <tr>
                <td>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" id="password" placeholder="Enter your password">
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <label for="profilepic">Profile Picture URL</label>
                        <input type="url" id="profilepic" placeholder="Enter Profile picture URL">
                    </div>
                </td>
            </tr>

        <button type="submit">Sign Up</button>
    </form>
    <div class="switch-link">
            <p>Already have an account? <a asp-controller="Home" asp-action="Signup">Login</a></p>
    </div>
</div>
</div>
